button{
    // padding-inline:0.2rem;
    padding-block:0.6rem;
    border-radius:1.5rem;
    background-color: crimson;
    transition:all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    font-size:1.2rem;
    font-weight:600;
    letter-spacing: 1px;
    color:white;
    border:none;

    &:active{
        scale:0.95;
    }

    &:hover{
        background-color: rgb(175, 173, 173);
        color:black;
    }
}