
main{
    height:100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;

    .form-container{
        padding:1rem;
        width:20rem;
        border-radius:0.5rem;
        h1{
            padding-bottom:1rem;
            padding-left:0.4rem;
        }
        form{
            display:flex;
            flex-direction: column;
            gap:1rem;

            input{
                padding-inline:1rem;
                padding-block:0.8rem;
                border-radius:1.5rem;
                border:none;
                outline:none;
                border:1px solid gray;
            }
            
            .link{
                text-decoration:none;
                color:crimson;
            }
        }
    }
}
